<div class="row" *ngIf="getTotalPages() > 1">
    <div class="col-sm-6">
        <div class="pull-left">
            <div class="results-count" *ngIf="!getTotal() || getTotal() === 0">
                {{ footerLegend.noresults }}
            </div>
            <div class="results-count" *ngIf="getTotal() && getTotal() > 0">
                {{ footerLegend.showingResults }} {{getPageBeginning()}} {{ footerLegend.to }} {{getPageEnd()}} {{
                footerLegend.of }} {{getTotal()}}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a (click)="onFirstClicked()" aria-label="First" *ngIf="isFirstPageVisible()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngFor="let item of getPages()" [class.active]="item === getCurrentPage() + 1"><a
                            (click)="pageClicked(item)">{{item}}</a></li>
                    <li>
                        <a (click)="onLastClicked()" aria-label="Last" *ngIf="isLastPageVisible()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
