<table class="table">
    <thead>
        <tr class="header">
            <th *ngFor="let column of columns" [style.width]="column.width + '' + column.widthUnit + ''">
                <div *ngIf="column.prop !== undefined">
                    <a (click)="sort(column.prop)">
                    {{column.name}}
                </a>
                    <i class="glyphicon glyphicon-menu-up" *ngIf="sortProp === column.prop && sortDirection === 'asc'"></i>
                    <i class="glyphicon glyphicon-menu-down" *ngIf="sortProp === column.prop && sortDirection === 'desc'"></i>
                </div>

                <div *ngIf="column.prop === undefined">
                    <span>
                        {{column.name}}
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <template ngFor [ngForOf]="paginatedResults.results" [ngForTemplate]="rows"></template>
    </tbody>
</table>
<iq-bt-footer [paginatedResults]="paginatedResults" (onPageClicked)="onPageClicked($event)" [footerLegend]="footerLegend"></iq-bt-footer>