<table class="table">
    <thead>
        <tr>
            <th *ngFor="let headerItem of headerItems">
                <div *ngIf="headerItem.prop !== undefined">
                    <a (click)="sort(headerItem.prop)">
                    {{headerItem.name}}
                </a>
                    <i class="glyphicon glyphicon-menu-up" *ngIf="sortProp === headerItem.prop && sortDirection === 'asc'"></i>
                    <i class="glyphicon glyphicon-menu-down" *ngIf="sortProp === headerItem.prop && sortDirection === 'desc'"></i>
                </div>

                <div *ngIf="headerItem.prop === undefined">
                    <span>
                        {{headerItem.name}}
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <template ngFor [ngForOf]="paginatedResults.results" [ngForTemplate]="rows"></template>
    </tbody>
</table>
<iq-bt-footer [paginatedResults]="paginatedResults" (onPageClicked)="onPageClicked($event)"></iq-bt-footer>